<div class="container w-4/5 flex flex-col">
  <div class="flex flex-row mt-32">
    <button mat-stroked-button class="btn-stroked self-start">
      <mat-icon>chevron_left</mat-icon>
      <span>Home</span>
    </button>
  </div>

  <div class="flex flex-row justify-center">
    <h1 class="uppercase font-bold">Resutados de Búsqueda</h1>
  </div>
  <div class="flex flex-row justify-around">
    <app-movie-list class="w-9/12" [data]="searchResults"></app-movie-list>
    <div class="flex flex-col w-1/5 my-6 justify-stretch">
      <div class="rounded-xl bg-white h-32 flex flex-row justify-center">
        <div class="w-11/12 flex flex-col justify-around">
          <input class="border-2 border-gray-500 p-2 rounded-xl text-black" type="text" placeholder="Búsqueda" />
          <button class="font-bold" mat-raised-button>Buscar</button>
        </div>
      </div>
    </div>
  </div>
  <mat-paginator color="accent"></mat-paginator>
  <hr />
</div>
