<div class="flex flex-col my-6 justify-stretch">
  @for (item of data; track $index) {
    <div class="flex flex-row justify-between">
      <div class="container-image">
        <img class="h-full" [src]="item.image" alt="" />
      </div>
      <div class="container-text">
        <div class="flex flex-row items-center justify-between">
          <h2>
            {{ item.title }}
            <span class="text-gray-500">{{ item.year }}</span>
          </h2>
          <div>
            @for (_ of rates; track $index) {
              @if ($index < item.rate) {
                <mat-icon> grade_outlined </mat-icon>
              }
            }
          </div>
        </div>
        <div class="flex fle-row">
          <mat-chip-set dkDropListOrientation="horizontal">
            @for (tag of item.tags; track tag) {
              <mat-chip>{{ tag }}</mat-chip>
            }
            <mat-chip>{{ item.time }}</mat-chip>
          </mat-chip-set>
        </div>
        <p>{{ item.desc }}</p>
      </div>
      <div class="m-4 border-solid border-white border-l"></div>
      <div class="container-date">
        <p>17/Feb/2024</p>
      </div>
    </div>
    <hr class="my-6" />
  }
</div>
