$cinemax-red: (
  50: #fde4e5,
  100: #f9bdbf,
  200: #f59194,
  300: #f16469,
  400: #ee4348,
  500: #eb2228,
  600: #e91e24,
  700: #e5191e,
  800: #e21418,
  900: #dd0c0f,
  A100: #ffffff,
  A200: #ffd4d5,
  A400: #ffa1a2,
  A700: #ff8889,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #ffffff,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000,
  ),
);

$primary-color: #eb2228;
