<div class="dialog-content-wrapper">
  <mat-toolbar matDialogTitle color="primary" id="toolbarHeader">
    <mat-toolbar-row class="justify-between items-center">
      <span *ngIf="!isEditing" class="mat-title mb-0">{{ 'Crear Película' }}</span>
      <span *ngIf="isEditing" class="mat-title mb-0">{{ 'Editar Película' }}</span>
      <button mat-icon-button (click)="dialogRef.close()" aria-label="Close dialog">
        <mat-icon>close</mat-icon>
      </button>
    </mat-toolbar-row>
  </mat-toolbar>

  <div mat-dialog-content class="my-dialog-content">
    <mat-horizontal-stepper [selectedIndex]="stepIndex" (selectionChange)="onSlectionChange($event)" labelPosition="bottom" [linear]="'true'" #stepper>
      <mat-step [stepControl]="this.form">
        <form [formGroup]="form">
          <div class="flex flex-col justify-start items-stretch" fxLayoutGap="gappx">
            <div class="flex flex-row justify-start items-start" class="mt-2" fxLayoutGap="gappx">
              <span class="mat-body-2" style="text-transform: uppercase">{{ 'Información de básica de la Película' }} </span>
            </div>
            <mat-divider></mat-divider>

            <div class="mt-3 flex flex-wrap justify-between items-start" fxLayoutGap="gappx">
              <mat-form-field class="w-full" fxFlex.lt-md="100">
                <mat-label>
                  <span class="capitalize">{{ 'Título' }}</span>
                </mat-label>
                <input required matInput formControlName="name" placeholder="{{ 'Título' }}" />
              </mat-form-field>

              <mat-form-field class="w-[48%]" fxFlex.lt-md="100">
                <mat-label>
                  <span class="capitalize">{{ 'Duración' }}</span>
                </mat-label>
                <input required matInput formControlName="duration" placeholder="{{ 'Duración de la Película' }}" />
              </mat-form-field>

              <mat-form-field class="w-[48%]">
                <mat-label>{{ 'Fecha de estreno' }}</mat-label>
                <input matInput [max]="" [matDatepicker]="dp" formControlName="premiere" readonly (click)="dp.open()" />
                <mat-datepicker-toggle matSuffix [for]="dp"></mat-datepicker-toggle>
                <mat-datepicker #dp startView="multi-year" panelClass="example-month-picker" touchUi> </mat-datepicker>
              </mat-form-field>

              <mat-form-field class="w-[48%]" fxFlex.lt-md="100">
                <mat-label>
                  <span class="capitalize">{{ 'Trailer' }}</span>
                </mat-label>
                <input required matInput formControlName="trailerURL" placeholder="{{ 'Enlace al trailer' }}" />
              </mat-form-field>

              <mat-form-field class="w-[48%]" fxFlex.lt-md="100">
                <mat-label>
                  <span class="capitalize">{{ 'Ícono' }}</span>
                </mat-label>
                <input required matInput formControlName="iconURL" placeholder="{{ 'Enlace al ícono' }}" />
              </mat-form-field>

              <mat-form-field class="w-[48%]" fxFlex.lt-md="100">
                <mat-label>
                  <span class="capitalize">{{ 'Imagen Poster' }}</span>
                </mat-label>
                <input required matInput formControlName="coverURL" placeholder="{{ 'Enlace a la Imagen Poster' }}" />
              </mat-form-field>

              <mat-form-field class="w-[48%]" fxFlex.lt-md="100">
                <mat-label>
                  <span class="capitalize">{{ 'Imagen Expandida' }}</span>
                </mat-label>
                <input required matInput formControlName="imagenURL" placeholder="{{ 'Enlace a la Imagen Expandida' }}" />
              </mat-form-field>

              <mat-form-field class="w-full" fxFlex.lt-md="100">
                <mat-label>Resumen</mat-label>
                <textarea required rows="3" matInput formControlName="summary" placeholder="{{ 'Resumen' }}"></textarea>
              </mat-form-field>

              <div class="w-full">
                <p class="mt-0 mb-2">
                  <span class="capitalize">{{ 'Descripcion' }}</span>
                </p>
                <ckeditor
                  (ready)="onReady($event)"
                  (change)="onChange($event)"
                  [editor]="Editor"
                  formControlName="description"
                  tagName="textarea"
                  class="text-black"
                ></ckeditor>
              </div>
            </div>
          </div>
        </form>

        <div class="mt-3 flex flex-row justify-between items-start" fxLayoutGap="gappx">
          <button mat-raised-button mat-dialog-close>
            {{ 'CERRAR' }}
          </button>
          <button [disabled]="this.form.invalid || isSaving" mat-raised-button (click)="onNextSecond()">
            {{ 'SIGUIENTE' }}
          </button>
        </div>
      </mat-step>

      <mat-step [editable]="this.form.valid">
        <form [formGroup]="secundaryForm">
          <div class="flex flex-col justify-start items-stretch" fxLayoutGap="gappx">
            <div class="flex flex-row justify-start items-start" class="mt-2" fxLayoutGap="gappx">
              <span class="mat-body-2" style="text-transform: uppercase">{{ 'Información Complementaria' }} </span>
            </div>
            <mat-divider></mat-divider>
            <div class="mt-3 flex flex-wrap justify-between items-start" fxLayoutGap="gappx">
              <mat-form-field class="w-full" appearance="outline">
                <mat-label>{{ 'Países' }}</mat-label>
                <mat-select multiple required formControlName="countries" placeholder="{{ 'Países' }}">
                  @for (country of allCountries; track $index) {
                    <mat-option [value]="country.id">
                      <div fxLayout="row" fxLayoutAlign="start center">
                        <span class="mat-body-2 uppercase">
                          {{ country.name }}
                        </span>
                      </div>
                    </mat-option>
                  }
                </mat-select>
              </mat-form-field>

              <mat-form-field class="w-full" appearance="outline">
                <mat-label>{{ 'Géneros' }}</mat-label>
                <mat-select multiple required formControlName="genres" placeholder="{{ 'Géneros' }}">
                  @for (genre of allGenres; track $index) {
                    <mat-option [value]="genre.id">
                      <div fxLayout="row" fxLayoutAlign="start center">
                        <span class="mat-body-2 uppercase">
                          {{ genre.name }}
                        </span>
                      </div>
                    </mat-option>
                  }
                </mat-select>
              </mat-form-field>

              <mat-form-field class="w-full" appearance="outline">
                <mat-label>{{ 'Directores' }}</mat-label>
                <mat-select multiple required formControlName="directors" placeholder="{{ 'Directores' }}">
                  @for (director of allDirectors; track $index) {
                    <mat-option [value]="director.id">
                      <div fxLayout="row" fxLayoutAlign="start center">
                        <span class="mat-body-2 uppercase"> {{ director.firstname }} {{ director.lastname }} </span>
                      </div>
                    </mat-option>
                  }
                </mat-select>
              </mat-form-field>

              <mat-form-field class="w-full" appearance="outline">
                <mat-label>{{ 'Actores' }}</mat-label>
                <mat-select multiple required formControlName="actors" placeholder="{{ 'Actores' }}">
                  @for (actor of allActors; track $index) {
                    <mat-option [value]="actor.id">
                      <div fxLayout="row" fxLayoutAlign="start center">
                        <span class="mat-body-2 uppercase"> {{ actor.firstname }} {{ actor.lastname }} </span>
                      </div>
                    </mat-option>
                  }
                </mat-select>
              </mat-form-field>
            </div>
          </div>
        </form>
        <!-- <app-layout-files [newFileLoaded]="this.newFile" [_fkModel]="'Element'" [_selectedData]="this.selectedAboutUs"></app-layout-files>

      <p *ngIf="this.selectedAboutUs" class="mt-3">
        <app-file-uploader [_fkId]="this.selectedAboutUs?.id" [_fkModel]="'Element'" ($fileUploaded)="onNewFileLoaded($event)"> </app-file-uploader>
      </p> -->

        <div class="mt-3 flex flex-row justify-between items-start">
          <button mat-raised-button class="ml-2" matStepperPrevious>{{ 'ATRÁS' }}</button>
          <button mat-raised-button class="ml-2" [disabled]="secundaryForm.invalid || isSaving" color="primary" (click)="onSave()">{{ 'GUARDAR' }}</button>
        </div>
      </mat-step>
    </mat-horizontal-stepper>
  </div>

  <div mat-dialog-actions class="flex flex-row justify-end items-start"></div>
</div>
