<div class="container w-4/5">
  <div class="w-full mb-4">
    <span class="text-base">Filmes de epoca que no dejan de sorprendernos.</span>
    <h1 class="uppercase font-bold">Clasicos</h1>
  </div>

  <swiper-container navegation="true" class="swiper-wrapper" [config]="config" slides-per-view="auto" space-between="15">
    @for (image of dataImages; track $index) {
      <swiper-slide class="w-auto h-40">
        <img class="swiper-lazy rounded-lg h-4/5" [src]="image?.file" />
      </swiper-slide>
    }
    <div class="swiper-button-prev"></div>
    <div class="swiper-button-next"></div>
  </swiper-container>
</div>
