<div class="flex flex-col w-11/12 ml-auto">
  <div class="flex flex-row">
    <swiper-container id="carrousel-home" space-between="40" slides-per-view="4.5" class="banner-swiper">
      <swiper-slide>
        <div class="items-start flex flex-col justify-between">
          <h1 class="uppercase font-bold">Eventos</h1>
          <p class="text-start my-6">No te pierdas los eventos mas importantes y festivales mas importantes de la temporada</p>
          <div class="flex fle-row my-6 justify-center">
            <button mat-stroked-button class="btn-stroked">VER LISTA</button>
          </div>
        </div>
      </swiper-slide>
      @for (image of dataImages; track $index) {
        <swiper-slide>
          <img class="swiper-lazy" [src]="image?.file" />
          <div class="py-2 container-text absolute bottom-0 flex flex-col items-center">
            <div class="flex flex-col w-11/12 justify-stretch">
              <span class="text-base font-bold text-left">{{ image?.name }}</span>
              <p class="text-justify text-sm line-clamp-3">{{ image?.desc }}</p>
            </div>
            <div class="flex flex-row-reverse justify-start w-11/12">
              <button class="flex flex-row items-center">
                <span class="uppercase text-base mr-2">Ver Más</span>
                <span class="rounded-full bg-white flex justify-center p-1">
                  <mat-icon class="text-black">arrow_forward</mat-icon>
                </span>
              </button>
            </div>
          </div>
        </swiper-slide>
      }
    </swiper-container>
  </div>
</div>
