<div class="container w-4/5 flex flex-col">
  <div class="flex flex-row mt-32">
    <button mat-stroked-button class="btn-stroked">
      <mat-icon>chevron_left</mat-icon>
      <span>Home</span>
    </button>
  </div>
  <div class="flex flex-row justify-between my-16">
    <div class="w-1/2 container-left">
      <img [src]="movie.imagenURL" alt="" />
    </div>
    <div class="w-5/12 container-right">
      <div class="flex flex-row w-full">
        <img [src]="movie.iconURL" alt="" />
      </div>
      <div class="flex flex-row m-4">
        <mat-chip-set dkDropListOrientation="horizontal">
          @for (tag of movie.directors; track tag) {
            <mat-chip>{{ tag.firstname }} {{ tag.lastname }}</mat-chip>
          }
          @for (genre of movie.genres; track genre) {
            <mat-chip>{{ genre.name }}</mat-chip>
          }
          <mat-chip>{{ getYear(movie.premiere) }}</mat-chip>
          <mat-chip>{{ movie.duration }}</mat-chip>
        </mat-chip-set>
      </div>
      <div>
        <p [innerHTML]="movie.description" class="text-justify"></p>
      </div>
    </div>
  </div>
  <hr />
  <app-movie-rooms [rooms]="projection"></app-movie-rooms>
</div>
<app-contact></app-contact>
