<div class="container w-4/5 flex flex-col">
  <div class="flex flex-row">
    <button mat-stroked-button class="btn-stroked">
      <mat-icon>chevron_left</mat-icon>
      <span>Home</span>
    </button>
  </div>
  <div class="flex flex-row justify-between">
    <div class="w-1/2">
      <img class="w-full" src="../../../assets/images/movies/avatarview.png" alt="" />
    </div>
    <div class="w-2/5">
      <div class="flex flex-row w-full">
        <img src="../../../assets/images/movies/avatarlogo.png" alt="" />
      </div>
      <div>
        <p class="text-justify">
          Avatar: The Way of Water (titulada Avatar: El camino del agua en Hispanoamérica y Avatar: El sentido del agua en España) es
          una película estadounidense perteneciente al género de cine épico, ciencia ficción y aventura dirigida, producida y coescrita por James Cameron. Es la
          primera de las cuatro secuelas planificadas de su película Avatar. Jake Sully y Ney'tiri han formado una familia y hacen todo lo posible por
          permanecer juntos. Sin embargo, deben abandonar su hogar y explorar las regiones de Pandora cuando una antigua amenaza reaparece.
        </p>
      </div>
    </div>
  </div>
  <hr />
</div>
