<div class="container w-4/5 flex flex-col">
  <div class="flex flex-row">
    <button mat-stroked-button class="btn-stroked">
      <mat-icon>chevron_left</mat-icon>
      <span>Home</span>
    </button>
  </div>
  <div class="flex flex-row justify-between my-16">
    <div class="w-1/2 container-left">
      <img class="rounded-xl" src="../../../assets/images/movies/avatarexp.jpeg" alt="" />
    </div>
    <div class="w-5/12 container-right">
      <div class="flex flex-row w-full">
        <img src="../../../assets/images/movies/avatarlogo.png" alt="" />
      </div>
      <div>
        <p [innerHTML]="movie.desc" class="text-justify"></p>
      </div>
    </div>
  </div>
  <hr />
</div>
