 <!--<div class="flex flex-col">
  <swiper-container navigation="true" pagination="true" id="banner-swiper" [config]="config" [effect]="'fade'" class="banner-swiper">
    <ng-container>
      @for (image of dataImages; track $index) {
        <swiper-slide>
          <img class="swiper-lazy w-96" [src]="image?.file" />
        </swiper-slide>
      }
    </swiper-container>
  </div>
  <div class="flex fle-row my-6 justify-center">
    <button mat-stroked-button class="btn-stroked">VER LISTA</button>
  </div>
</div>
