<swiper-container
  navigation="true"
  pagination="true"
  id="banner-swiper"
  autoplay
  slides-per-view="1"
  speed="1000"
  loop="true"
  effect="fade"
  class="banner-swiper"
>
  <ng-container>
    @for (image of dataImages; track $index) {
      <swiper-slide autoplay="10000">
        <img class="swiper-lazy" [src]="image?.file" />
        <!-- <div class="container w-4/5 absolute mx-auto top-96"> -->
        <div class="flex left-32 top-96 absolute flex-col w-1/3 gap-4 desc-container rounded-3xl">
          <img class="w-72" [src]="image.logo" alt="" />
          <p>{{ image.desc }}</p>
          <button class="w-1/2 rounded-xl" mat-raised-button color="accent">¡Reserva ahora!</button>
        </div>
        <!-- </div> -->
      </swiper-slide>
    }
  </ng-container>
</swiper-container>
